{% extends "::base.html.twig" %}

{% block meta %}
    <link type="application/rss+xml" rel="alternate" title="{{ podcast.getTitle() }}" href="{{ url('publisher_frontend_itunes_feed',{'podcastId': podcast.getId()})  }}"/>
{% endblock %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">

                <div class="columns">
                    <div class="column is-four-fifths has-text-centered-touch">

                        <h1 class="title">
                            {{ podcast.getTitle() }}
                        </h1>
                        <h2 class="subtitle">
                            {{ podcast.getAuthor() }}
                        </h2>
                    </div>
                    <div class="column has-text-right-desktop has-text-centered-touch">
                        <script class="podlove-subscribe-button" src="./subscribe-button/javascripts/app.js" data-language="de" {% if podcast.getImage() %} data-format="cover"  {% endif %} data-size="small" data-style="filled" data-json-data="podcastData"></script>

                    </div>


                </div> <!-- end narrow column-->
            </div>
        </div>
    </section>

    <main class="section">
        <div class="container">
        <div class="columns">

                <div class="column is-one-quarter ">
                    <div id="podlatch-player"></div>

                </div> <!-- end narrow column-->
                <div class="column is-two-quarter level scrollbox" id="scrollable-container">
                    <h2 class="subtitle is-2 level-item">About</h2>
                    <p class="level-item">
                        {{ podcast.getDescription() }}
                    </p>

                    <h2 class="subtitle is-2 level-item">Episodes</h2>
                    <div class="timeline is-centered">
                        <header class="timeline-header">
                            <span class="tag is-medium is-primary">Start</span>
                        </header>
                        {% for podcastEpisode in podcast.getPublishedEpisodes() %}
                            <div class="timeline-item">
                                <div class="timeline-marker is-image is-32x32" onclick="$('#podlatch-player').html(''); podlovePlayer('#podlatch-player', {
                                        title: '{{ podcastEpisode.getTitle()|json_encode }}',
                                        subtitle: '{{ podcastEpisode.getSubtitle()|json_encode }}',
                                        summary: '{{ podcastEpisode.getSummary()|json_encode }}',
                                        publicationDate: '{{ podcastEpisode.getReleasedAt()|date('d-m-YTH:i:s')}}',
                                        poster: '{{ vich_uploader_asset(podcastEpisode, 'imageFile')}}',
                                        duration: '{{ podcastEpisode.getDuration(audioBasePath) }}',
                                        audio: [{
                                        url: '{{ app.request.getUriForPath(vich_uploader_asset(podcastEpisode, 'audioFile'))}}',
                                        mimeType: 'audio/mp3',
                                        size: {{ podcastEpisode.getFileSize(audioBasePath) }},
                                        title: 'Audio MP3'
                                        }],
                                        theme: {
                                        main: '#00D7B5'
                                        }
                                        }).then(function (store) {
                                        store.dispatch({
                                        type: 'UI_PLAY',
                                        payload: {}
                                        })})
                                        ;">
                                    <img class="timeline-play-icon" src="{{ asset('fonts/svg/media-play.svg') }}" alt="icon name">

                                </div>

                                <div class="timeline-content">
                                    {% include '@PublisherFrontend/Default/partials/timeline-card.html.twig' with {'podcastEpisode': podcastEpisode} %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="timeline-header">
                            <span class="tag is-medium is-primary">End</span>
                        </div>
                    </div>

                </div> <!-- end timeline-->
            </div><!-- end left column-->
        </div> <!-- end columns-->
        </div> <!-- end columns-->

    </main>



    <script type="text/javascript" src="{{ asset('/js/podlove-embed.js') }}"></script>
    {% set latestEpisode = podcast.getPublishedEpisodes()|first %}
    {% if latestEpisode %}
    <script>
        podlovePlayer('#podlatch-player', {
            title: '{{ latestEpisode.getTitle()|json_encode }}',
            subtitle: '{{ latestEpisode.getSubtitle()|json_encode }}',
            summary: '{{ latestEpisode.getSummary()|json_encode }}',
            publicationDate: '{{ latestEpisode.getReleasedAt()|date('d-m-YTH:i:s')}}',
            poster: '{{ vich_uploader_asset(latestEpisode, 'imageFile')}}',
            duration: '{{ latestEpisode.getDuration(audioBasePath) }}',
            audio: [{
                url: '{{ app.request.getUriForPath(vich_uploader_asset(latestEpisode, 'audioFile'))}}',
                mimeType: 'audio/mp3',
                size: {{ latestEpisode.getFileSize(audioBasePath) }},
                title: 'Audio MP3'
            }],
            theme: {
                main: '#00D7B5'
            }
        });
    </script>
{% endif %}
    <script>
        window.podcastData = {
            "title": "{{ podcast.getTitle() }}",
            "subtitle": "{{ podcast.getSubtitle()|json_encode }}",
            "description": "{{ podcast.getDescription()|json_encode }}",
            "cover": "{{ app.request.getUriForPath(vich_uploader_asset(podcast, 'imageFile'))}}",
            "feeds": [
                {
                    "type": "audio",
                    "format": "mp3",
                    "url": "{{ url('publisher_frontend_itunes_feed',{'podcastId': podcast.getId()})  }}",
                    "variant": "high",
                    "directory-url-itunes": "{{podcast.getItunesUrl()}}"

                }
            ]
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ps = new PerfectScrollbar('#scrollable-container');
        }, false);

    </script>


{% endblock content%}