{% extends "::base.html.twig" %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">

                <div class="columns">
                    <div class="column is-four-fifths">
                        <h1 class="title">
                            {{ podcast.getTitle() }}
                        </h1>
                        <h2 class="subtitle">
                            {{ podcast.getAuthor() }}
                        </h2>
                    </div>
                    <div class="column">
                        <script class="podlove-subscribe-button" src="./subscribe-button/javascripts/app.js" data-language="de" data-size="big" data-json-data="podcastData"></script>

                    </div>


                </div> <!-- end narrow column-->
            </div>
        </div>
    </section>

    <main class="section">

        <div class="columns">
            <div class="column is-one-quarter ">
                <div id="podlatch-player"></div>

            </div> <!-- end narrow column-->
            <div class="column is-two-quarter level" id="scrollable-container">

                <h2 class="subtitle is-2 level-item">About</h2>
                <p class="level-item">
                    {{ podcast.getDescription() }}
                </p>

                <h2 class="subtitle is-2 level-item">Episodes</h2>
                <div class="timeline is-centered">
                    <header class="timeline-header">
                        <span class="tag is-medium is-primary">Start</span>
                    </header>
                    {% for podcastEpisode in podcast.getEpisodes() %}
                        <div class="timeline-item">
                            <a class="timeline-marker is-image is-32x32" onclick="$('#podlatch-player').html(''); podlovePlayer('#podlatch-player', {
                                    title: '{{ podcastEpisode.getTitle() }}',
                                    subtitle: '{{ podcastEpisode.getDescription() }}',
                                    summary: '{{ podcastEpisode.getSummary() }}',
                                    publicationDate: '{{ podcastEpisode.getReleasedAt()|date('d-m-YTH:i:s')}}',
                                    poster: '{{ vich_uploader_asset(podcastEpisode, 'imageFile') |url_encode}}',
                                    duration: '{{ podcastEpisode.getDuration(audioBasePath) }}',
                                    audio: [{
                                    url: '{{ vich_uploader_asset(podcastEpisode, 'audioFile') |url_encode}}',
                                    mimeType: 'audio/mp3',
                                    size: {{ podcastEpisode.getFileSize(audioBasePath) }},
                                    title: 'Audio MP3'
                                    }],
                                    theme: {
                                    main: '#00D7B5'
                                    }
                                    });">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="timeline-content">
                                <p class="heading">{{ podcastEpisode.getTitle() }}</p>
                                <p class="timeline-content-date">{{ podcastEpisode.getReleasedAt()|date('d.m.Y') }}</p>
                                <p>{{ podcastEpisode.getDescription() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="timeline-header">
                        <span class="tag is-medium is-primary">End</span>
                    </div>
                </div> <!-- end timeline-->
            </div><!-- end left column-->
        </div> <!-- end columns-->
        </div> <!-- end columns-->

    </main>



    <script type="text/javascript" src="{{ asset('/js/podlove-embed.js') }}"></script>
    {% set latestEpisode = podcast.getEpisodes()|first %}
    <script>
        podlovePlayer('#podlatch-player', {
            title: '{{ latestEpisode.getTitle() }}',
            subtitle: 'TODO',
            summary: '{{ latestEpisode.getDescription() }}',
            publicationDate: '{{ latestEpisode.getReleasedAt()|date('d-m-YTH:i:s')}}',
            poster: '{{ vich_uploader_asset(latestEpisode, 'imageFile') |url_encode}}',
            duration: '{{ latestEpisode.getDuration(audioBasePath) }}',
            audio: [{
                url: '{{ vich_uploader_asset(latestEpisode, 'audioFile') |url_encode}}',
                mimeType: 'audio/mp3',
                size: {{ latestEpisode.getFileSize(audioBasePath) }},
                title: 'Audio MP3'
            }],
            theme: {
                main: '#00D7B5'
            }
        }).then(function (store) {
            store.dispatch(store.actions.play())
        });
    </script>

    <script>
        window.podcastData = {
            "title": "{{ podcast.getTitle() }}",
            "subtitle": "TODO",
            "description": "{{ podcast.getDescription() }}",
            "cover": "{{ vich_uploader_asset(podcast, 'imageFile')}}",
            "feeds": [
                {
                    "type": "audio",
                    "format": "mp3",
                    "url": "{{ url('publisher_frontend_itunes_feed',{'podcastId': podcast.getId()})  }}",
                    "variant": "high",
                    "directory-url-itunes": "TODO"

                }
            ]
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ps = new PerfectScrollbar('#scrollable-container');
            }, false);

    </script>


{% endblock content%}