{% extends "::base.html.twig" %}

{% block content %}
    <div class="holy-grail-grid">
        <div class="holy-grail-header subnav-hero-section">
                <h1 class="subnav-hero-headline">{{ podcast.getTitle() }}</h1>
                <ul class="subnav-hero-subnav">
                    <li><a href="#">Take Action!</a></li>
                    <li><a href="#" class="is-active">Carpe Diem!</a></li>
                    <li><a target="_blank" href="https://zurb.com/responsive">Just do it!</a></li>
                </ul>
        </div>

        <div class="holy-grail-left">
            <h3> Shows</h3>
            <p>

            </p>
        </div>

        <div class="holy-grail-middle">

            <div id="podlatch-player"></div>
            <script type="text/javascript" src="{{ asset('/js/podlove-embed.js') }}"></script>
            <script>
                podlovePlayer('#podlatch-player', {
                    title: 'FS171 Invasion!',
                    subtitle: 'LAN Planung - Kalender - Bingo - Wikipedia - Akkukalibration - Alte iPads und iPods - Find My Friends - iPhone Music Player - Apple Watch - Kommandozeile - Star Wars - Dante - Internet of Things Security - VPN',
                    summary: 'Wir haben eine wie wir finden abwechslungsreiche Sendung produziert, die wir Euch wie immer mit Freude bereitstellen. Während die Live-Hörer Freak-Show-Bingo spielen, greifen wir das Wikipedia-Thema der letzten Sendung auf und liefern auch noch weitere Aspekte des optimalen Star-Wars-Medienkonsums frei Haus. Dazu viel Nerderei rund um die Kommandozeile, eine Einschätzung der Perspektive der Apple Watch, ein Rant über die mangelhafte Security  im Internet of Things (and Buildings) und allerlei anderer Kram.  Roddi setzt dieses Mal aus, sonst Vollbesetzung.',
                    publicationDate: '2016-02-11T03:13:55+00:00',
                    poster: 'https://freakshow.fm/wp-content/cache/podlove/04/662a9d4edcf77ea2abe3c74681f509/freak-show_200x200.jpg',
                    duration: '04:15:32',
                    audio: [{
                        url: 'http://freakshow.fm/podlove/file/4467/s/download/c/select-show/fs171-invasion.mp3',
                        mimeType: 'audio/mp3',
                        size: 14665000,
                        title: 'Audio MP3'
                    }],
                    reference: {
                        config: '//podlove-player.surge.sh/fixtures/example.json',
                        share: '//podlove-player.surge.sh/share'
                    }
                }).then(function (store) {
                    store.dispatch(store.actions.play())
                });
            </script>


            <h3>Episodes</h3>

            {% for podcastEpisode in podcast.getEpisodes() %}
                <div class="responsive-blog-post">
                    <div class="individual-post">
                        <h4>{{ podcastEpisode.getTitle() }}</h4>
                        <p class="date">{{ podcastEpisode.getReleasedAt()|date('d.m.Y H:i') }}</p>
                        <p>{{ podcastEpisode.getSummary() }}</p>
                        <a class="button" onclick="$('#podlatch-player').html(''); podlovePlayer('#podlatch-player', {
                            title: 'FS171 Invadsion!',
                            subtitle: 'LAN Planung - Kalender - Bingo - Wikipedia - Akkukalibration - Alte iPads und iPods - Find My Friends - iPhone Music Player - Apple Watch - Kommandozeile - Star Wars - Dante - Internet of Things Security - VPN',
                            summary: 'Wir haben eine wie wir finden abwechslungsreiche Sendung produziert, die wir Euch wie immer mit Freude bereitstellen. Während die Live-Hörer Freak-Show-Bingo spielen, greifen wir das Wikipedia-Thema der letzten Sendung auf und liefern auch noch weitere Aspekte des optimalen Star-Wars-Medienkonsums frei Haus. Dazu viel Nerderei rund um die Kommandozeile, eine Einschätzung der Perspektive der Apple Watch, ein Rant über die mangelhafte Security  im Internet of Things (and Buildings) und allerlei anderer Kram.  Roddi setzt dieses Mal aus, sonst Vollbesetzung.',
                            publicationDate: '2016-02-11T03:13:55+00:00',
                            poster: 'https://freakshow.fm/wp-content/cache/podlove/04/662a9d4edcf77ea2abe3c74681f509/freak-show_200x200.jpg',
                            duration: '04:15:32',
                            audio: [{
                                url: 'http://freakshow.fm/podlove/file/4467/s/download/c/select-show/fs171-invasion.mp3',
                                mimeType: 'audio/mp3',
                                size: 14665000,
                                title: 'Audio MP3'
                            }],
                            reference: {
                                config: '//podlove-player.surge.sh/fixtures/example.json',
                                share: '//podlove-player.surge.sh/share'
                            }
                        }); $(this).foundation('scrollToLoc', '#podlatch-player',{threshold: 50, offset: 100, duration: 1000})">play</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="holy-grail-right">
            <script>
                window.podcastData = {
                    "title": "Newz of the World",
                    "subtitle": "Tim and Mark talk about the Newz™",
                    "description": "Newz of the World is a weekly show about world news. Mark Fonseca Rendeiro and Tim Pritlove come together to present interesting reports and discuss their aspects and possible consequences. Newz of the world wants to be an alternative window to the common media flow and cherry picks interesting developments for you.",
                    "cover": "http://meta.metaebene.me/media/newz/newz-logo-600x600.jpg",
                    "feeds": [
                        {
                            "type": "audio",
                            "format": "mp3",
                            "url": "http://newz-of-the-world.com/feed/mp3",
                            "variant": "high",
                            "directory-url-itunes": "https://itunes.apple.com/de/podcast/newz-of-the-world/id492588543"

                        }
                    ]
                }
            </script>
            <script class="podlove-subscribe-button" src="./subscribe-button/javascripts/app.js" data-language="de" data-size="big" data-json-data="podcastData"></script>

            <h3>About</h3>
            <p>
                {{ podcast.getDescription() }}
            </p>

        </div>

        <div class="holy-grail-footer">
            <h3>Footer</h3>
        </div>

    </div>



{% endblock content%}