<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ asset('/css/master.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/perfect-scrollbar.css') }}" rel="stylesheet">
    <style>
        #scrollable-container {
            position: relative;
            height: 66vh;
        }
    </style>
</head>
<body>

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block fos_user_content %}{% endblock %}
{% block content %}{% endblock %}
<script type="text/javascript" src="{{ asset('/js/app.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>