<div class="card ">
    <div class="card-content">
        <div class="media">
            {% if podcastEpisode.getImage() %}
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ vich_uploader_asset(podcastEpisode, 'imageFile')}}" alt="Placeholder image">
                </figure>
            </div>
            {% endif %}
            <div class="media-content">
                <p class="title is-4">{{ podcastEpisode.getTitle() }}</p>
                <p class="subtitle is-6"><time datetime="{{ podcastEpisode.getReleasedAt()|date('d-m-Y') }}">{{ podcastEpisode.getReleasedAt()|date('d.m.Y') }}</time></p>
            </div>
        </div>
        <div class="content">
            {{ podcastEpisode.getSummary() }}
        </div>

        <footer class="card-footer">
            <!--<a href="#" class="card-footer-item">Details</a>-->
        </footer>
    </div>
</div>